
@{
    ViewBag.Title = "_layoutSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="content">
        @RenderBody()
        <div class="content-bottom">
            <div class="title-menu">
                <h4>Sản Phẩm đang khuyến mâi</h4>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="product-item">
                        <div class="km-item">
                            <a class="item-pro"><img src="~/Assets/images/KhuyenMai/menu_spicy_40off.png"></a>
                            <div class="describe">
                                <a href="#">Giảm đến 40% hàng tuần</a>
                                <p style="font-weight: bold;">150.000</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product-item">
                        <div class="km-item">
                            <a class="item-pro"><img src="~/Assets/images/KhuyenMai/menu_spicy_40off.png"></a>
                            <div class="describe">
                                <a href="#">Giảm đến 40% hàng tuần</a>
                                <p style="font-weight: bold;">150.000</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product-item">
                        <div class="km-item">
                            <a class="item-pro"><img src="~/Assets/images/KhuyenMai/menu_spicy_40off.png"></a>
                            <div class="describe">
                                <a href="#">Giảm đến 40% hàng tuần</a>
                                <p style="font-weight: bold;">150.000</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="font-weight: bold;color: black;background-color: gainsboro;padding: 5px 5px 5px">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Thay đổi chi tiết phần ăn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="main-product">
                        <div class="bundle-title">
                            Phần Ăn 
                        </div>
                        <div class="bundle-content">
                            <div class="bundle-option-content">
                                <div class="span-1">
                                    <div class="name">Món ăn kèm</div>
                                </div>
                                <div class="span-1-option">
                                    <input value="1">
                                </div>
                                <div class="select-option">
                                    <span class="input-box">
                                        <select>
                                            <option>Xin mời chọn</option>
                                            <option>Khoai chiên</option>
                                            <option>Coca</option>
                                            <option>Coca lớn</option>
                                            <option>Cơm Trắng</option>
                                        </select>
                                    </span>
                                </div>
                            </div>

                            <div class="bundle-option-content">
                                <div class="span-1">
                                    <div class="name">Món ăn kèm</div>
                                </div>
                                <div class="span-1-option">
                                    <input value="1">
                                </div>
                                <div class="select-option">
                                    <span class="input-box">
                                        <select>
                                            <option>Xin mời chọn</option>
                                            <option>Khoai chiên</option>
                                            <option>Coca</option>
                                            <option>Coca lớn</option>
                                            <option>Cơm Trắng</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="bundle-option-content">
                                <div class="span-1">
                                    <div class="name">Món ăn kèm</div>
                                </div>
                                <div class="span-1-option">
                                    <input value="1">
                                </div>
                                <div class="select-option">
                                    <span class="input-box">
                                        <select>
                                            <option>Xin mời chọn</option>
                                            <option>Khoai chiên</option>
                                            <option>Coca</option>
                                            <option>Coca lớn</option>
                                            <option>Cơm Trắng</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="count-product">
                        <div class="span-1">
                            <div class="name">Số Lượng</div>
                        </div>
                        <div class="span-1-option">
                            <button class="control-count" type="button" id="btn-1">
                                <span>-</span>
                            </button>
                            <input class="count" maxlength="10" value="1">
                            <button class="control-count" onclick="Calculation(this,'.count');" type="button" id="btn-2">
                                <span>+</span>
                            </button>
                        </div>
                    </div>
                    <div class="total-payment">
                        <span>Tổng tiền phải thanh toán: </span>
                        <span class="total"> 150.000</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-toggle="modal" data-target="#cart" type="button" class="add-to-cart" data-dismiss="modal">Thêm vào giỏ hàng</button>
                <button type="button" class="payment">Thanh Toán</button>
            </div>
        </div>
    </div>
</div>
