
<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Assets/global/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/layout.css">
    <link rel="stylesheet" href="~/Assets/css/font-awesome.css">
    <link rel="stylesheet" href="~/Assets/css/product.css">
    <link rel="stylesheet" href="~/Assets/css/menu-product.css">
    <link rel="stylesheet" href="~/Assets/css/product.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Assets/global/vendor/jquery/jquery.js"></script>
    <script src="~/Assets/global/vendor/popper-js/umd/popper.min.j"></script>
    <script src="~/Assets/global/vendor/bootstrap/bootstrap.js"></script>
    <script src="~/Assets/js/Calculation.js"></script>
    <script>
        $(window).scroll(function () {
            if ($(window).scrollTop() == 0) {
                $(".header").css("position", "relative");
            } else {
                $(".header").css("position", "fixed");
            }
        });
    </script>
</head>
<body>
    <div class="header">
        <div class="headertop-right">
            <ul>
                <li>
                    <a href="#">Đăng Nhập</a>
                </li>
                <img src="~/Assets/images/topbar.png">
                <li style="margin-right: 3px">
                    <a href="#">Đăng Kí</a>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="logo">
                <a href="index.html"><img src="~/Assets/images/logo.png"></a>
            </div>
            <div class="menu">
                <div class="listmenu">
                    <ul>
                        <li>
                            <a href="#">Khuyễn Mãi</a>
                        </li>
                        <img src="~/Assets/images/topbar-separator.png">
                        <li>
                            <a href="menu.html">Thuc don</a>
                            <div class="memenu">
                                <ul>
                                    <li>
                                        <a href="#">Món mới</a>
                                    </li>
                                    <li>
                                        <a href="#">HamBurGer</a>
                                    </li>
                                    <li>
                                        <a href="#">Thức Uống & Tráng Miệng</a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <a href="#">Món mới</a>
                                    </li>
                                    <li>
                                        <a href="#">HamBurGer</a>
                                    </li>
                                    <li>
                                        <a href="#">Thức Uống & Tráng Miệng</a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <a href="#">Món mới</a>
                                    </li>
                                    <li>
                                        <a href="#">HamBurGer</a>
                                    </li>
                                    <li>
                                        <a href="#">Thức Uống & Tráng Miệng</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <img src="~/Assets/images/topbar-separator.png">
                        <li>
                            <a href="#">Chi Nhánh</a>
                        </li>
                        <img src="~/Assets/images/topbar-separator.png">
                        <li>
                            <a href="#">Giới Thiệu</a>
                        </li>
                        <img src="~/Assets/images/topbar-separator.png">
                        <li>
                            <button data-toggle="modal" data-target="#cart"><img src="~/Assets/images/cart.png"> Giỏ Hàng</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    <div class="footer">
        <div class="container ">
            <div style="text-align: center; padding-top:10px; padding-bottom: 10px;">
                <h4>Kết nối với chúng tôi</h4>
                <ul class="social ">
                    <li><a href="# "><i> </i></a></li>
                    <li><a href="# "><i class="twitter "> </i></a></li>
                    <li><a href="# "><i class="rss "> </i></a></li>
                    <li><a href="# "><i class="gmail "> </i></a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="footer-class ">
        <p>
            FastFood WebSite | Design by team 413 Hoàng Quốc Việt
            <a href="#" class="backtop backtop-visible"></a>
        </p>
    </div>
</body>
</html>