
@{
    ViewBag.Title = "_layoutSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="content">
        @RenderBody()

        <div class="content-bottom">
            <div class="title-menu">
                <h4>Khuyễn Mãi Hiện Có</h4>
            </div>
            @Html.Action("_KhuyenMai","SanPham")
        </div>
    </div>
</div>


