@{
    ViewBag.Title = "SanPham";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1 class="page-title">Danh Sách Sản phẩm</h1>
    <div class="page-header-actions">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Sản phẩm</a></li>
            <li class="breadcrumb-item active">Danh Sách Sản Phẩm</li>
        </ol>
    </div>
</div>

<div class="page-content">
    <!-- Panel -->
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="DataTables_Table_0_length">
                        <label>
                            <select name="DataTables_Table_0_length" onchange="changePage(1)" id="pageSize" aria-controls="DataTables_Table_0" class="form-control form-control-sm">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-5">
                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                        <label>
                            <input type="text" id="txtSearch" style="padding-right:0;" class="form-control form-control-sm" placeholder="Tìm kiếm " aria-controls="DataTables_Table_0">
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-1">
                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                        <button type="button" class="btn btn-block btn-sm btn-primary waves-effect waves-classic" onclick="changePage(1)"><i class="icon wb-search" aria-hidden="true"></i></button>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-end">
                    <button class="btn btn-primary" onclick="setValueForModal(this,false)" data-id='0' data-target="#info-modal" data-toggle="modal" aria-hidden="true">Thêm mới</button>
                </div>
            </div>
            <div class="row row-lg">
                <div class="col-lg data-table">
                    @{Html.RenderAction("_Combo", "MatHang");}
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel -->

</div>
<!-- End Page -->
<!-- Modal -->
<div class="modal fade modal-3d-flip-vertical" id="info-modal" aria-hidden="true"
     aria-labelledby="exampleModalTitle" role="dialog">
    <div class="modal-dialog modal-simple">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Thông tin</h4>
            </div>
            <div class="modal-body">
                @{Html.RenderAction("_Combo_ChiTiet", "MatHang", new { ID = -1 });}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="">Gửi</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->

<script>
    var path = '';
    var url_GetTb = '/Admin/MatHang/_SanPham';
    var url_GetMd = '/Admin/MatHang/_SanPham_ChiTiet';
    var url_InsertUpdate = '/Admin/Ajax/addOrUpdateProduct';

</script>