@model List<DAO.ChiNhanhDAO>
@{
    int pageFrom = ((ViewBag.pageNumber - 1) * ViewBag.pageSize) + 1;
}
<!-- Table -->
<div class="example-wrap">
    <div class="example table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên Chi Nhánh</th>
                    <th class="text-center">Địa Chỉ</th>
                    <th class="text-center">Số Điện Thoại</th>
                    <th class="text-center">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@(pageFrom + i)</td>
                        <td>@Model[i].TenChiNhanh</td>
                        <td>@Model[i].DiaChi</td>
                        <td>@Model[i].SoDienThoai</td>

                        <td class="text-center">
                            <a class="icon wb-edit text-primary" ></a> / <i class="icon wb-trash text-danger" aria-hidden="true" data-target="#confirm-modal" data-toggle="modal"></i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- End Table -->
@{ Html.RenderAction("_Pagination", "Home", new { maxNumber = ViewBag.maxNumber, pageNumber = ViewBag.pageNumber });}

<script>
    var url_GetTb = '/Admin/TaiKhoan/_DanhSach';
    var url_GetMd = '/Admin/TaiKhoan/_ChiTiet';
    var url_InsertUpdate = '/Admin/Ajax/addOrUpdateBoxes';
</script>
