@model List<DAO.SanPhamDAO>
@using Source.Configuration;
@{
    ViewBag.Title = "KQTimKiem";
    Layout = "~/Views/Shared/_layoutSanPham.cshtml";
}

<h2>KQTimKiem</h2>

<div class="cotent-top">
    <div class="col-12" style="margin-bottom: 5%; ">
        <div class="menu-product">
            <ul>
                @foreach (var item in Model)
                {
                    <li>
                        <div class="product-describe">
                            <img src="@Url.Content(AppConfig.loadSP + item.HinhAnh)">
                            <div class="description">
                                @item.MoTa
                            </div>
                        </div>
                        <div class="product-info">
                            <h4>@item.TenSanPham</h4>
                            <p>@item.DonGia</p>
                            <button class="cart-btn" data-toggle="modal" onclick="ThemVaoGioHang('/SanPham/SanPham_ChiTiet',@item.MaSanPham,true)" data-target="#showdetail">Đặt Mua</button>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

