@model List<DTO.SanPhamDTO>
@using Source.Configuration;
@{
    int pageFrom = ((ViewBag.pageNumber - 1) * ViewBag.pageSize) + 1;
}

<div class="cotent-top">
    <div class="col-12" style="margin-bottom: 5%; ">
        <div class="menu-product">
            <ul>
                @foreach (var item in Model)
                {
                    <li>
                        <div class="product-describe">
                            <img src="@Url.Content(AppConfig.uploadFolder +item.HinhAnh)">
                            <div class="description">
                                @item.
                            </div>
                        </div>
                        <div class="product-info">
                            <h4>@item.TenSanPham</h4>
                            <p>@item.DonGia</p>
                            <button class="cart-btn" data-toggle="modal" data-target="#exampleModalScrollable">Đặt Mua</button>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
@{ Html.RenderAction("_Pagination", "Home", new { maxNumber = ViewBag.maxNumber, pageNumber = ViewBag.pageNumber });}
