
@{
    Layout = null;
}


<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap material admin template">
    <meta name="author" content="">

    <title>Dashboard | Remark Material Admin Template</title>

    <link rel="apple-touch-icon" href="~/Assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/Assets/images/favicon.ico">

    <!-- Stylesheets -->

    <link rel="stylesheet" href="~/Assets/global/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/global/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="~/Assets/css/site.min.css">

    <!-- Plugins -->
    <link rel="stylesheet" href="~/Assets/global/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="~/Assets/global/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="~/Assets/global/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="~/Assets/global/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="~/Assets/global/vendor/flag-icon-css/flag-icon.css">
    <link rel="stylesheet" href="~/Assets/global/vendor/waves/waves.css">
    <link rel="stylesheet" href="~/Assets/global/vendor/chartist/chartist.css">
    <link rel="stylesheet" href="~/Assets/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="~/Assets/examples/css/dashboard/v1.css">
    <link rel="stylesheet" href="~/Assets/global/fonts/web-icons/web-icons.css">
    <link rel="stylesheet" href="~/Assets/global/vendor/select2/select2.css">

    <link rel="stylesheet" href="~/Content/customize.css">


    <!-- Fonts -->
    <link rel="stylesheet" href="~/Assets/global/fonts/material-design/material-design.min.css">
    <link rel="stylesheet" href="~/Assets/global/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <script src="~/Scripts/Features.js"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="~/Assets/global/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="~/Assets/global/vendor/media-match/media.match.min.js"></script>
    <script src="~/Assets/global/vendor/respond/respond.min.js"></script>
    <![endif]-->
    <!-- Scripts -->
    <script src="~/Assets/global/vendor/breakpoints/breakpoints.js"></script>
    <script>
      Breakpoints();
    </script>
    <style>
        .dataTables_filter{
            text-align:right;
        }
    </style>
</head>
<body class="animsition dashboard">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
       <div class="site-menubar">
        @{Html.RenderAction("_Header", "Home"); }
        @{Html.RenderAction("_Menu", "Home"); }
    </div>    
    <div class="site-gridmenu">
        <div>
            <div>
                <ul>
                    <li>
                        <a href="apps/mailbox/mailbox.html">
                            <i class="icon md-email"></i>
                            <span>Mailbox</span>
                        </a>
                    </li>
                    <li>
                        <a href="apps/calendar/calendar.html">
                            <i class="icon md-calendar"></i>
                            <span>Calendar</span>
                        </a>
                    </li>
                    <li>
                        <a href="apps/contacts/contacts.html">
                            <i class="icon md-account"></i>
                            <span>Contacts</span>
                        </a>
                    </li>
                    <li>
                        <a href="apps/media/overview.html">
                            <i class="icon md-videocam"></i>
                            <span>Media</span>
                        </a>
                    </li>
                    <li>
                        <a href="apps/documents/categories.html">
                            <i class="icon md-receipt"></i>
                            <span>Documents</span>
                        </a>
                    </li>
                    <li>
                        <a href="apps/projects/projects.html">
                            <i class="icon md-image"></i>
                            <span>Project</span>
                        </a>
                    </li>
                    <li>
                        <a href="apps/forum/forum.html">
                            <i class="icon md-comments"></i>
                            <span>Forum</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <i class="icon md-view-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Page -->
    <div class="page">
        @RenderBody()

    </div>
    <!-- End Page -->
    <!-- Footer -->
    <footer class="site-footer">
        <div class="site-footer-legal">© 2018 <a href="http://themeforest.net/item/remark-responsive-bootstrap-admin-template/11989202">Remark</a></div>
        <div class="site-footer-right">
            Crafted with <i class="red-600 icon md-favorite"></i> by <a href="https://themeforest.net/user/creation-studio">Creation Studio</a>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade modal-danger" id="confirm-modal" aria-hidden="true"
         aria-labelledby="exampleModalDanger" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Xóa</h4>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn xóa ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-danger" onclick="Delete()">Xóa</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

    <!-- Core  -->
    <script src="~/Assets/global/vendor/babel-external-helpers/babel-external-helpers.js"></script>
    <script src="~/Assets/global/vendor/jquery/jquery.js"></script>
    <script src="~/Assets/global/vendor/popper-js/umd/popper.min.js"></script>
    <script src="~/Assets/global/vendor/bootstrap/bootstrap.js"></script>
    <script src="~/Assets/global/vendor/animsition/animsition.js"></script>
    <script src="~/Assets/global/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="~/Assets/global/vendor/asscrollbar/jquery-asScrollbar.js"></script>
    <script src="~/Assets/global/vendor/asscrollable/jquery-asScrollable.js"></script>
    <script src="~/Assets/global/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
    <script src="~/Assets/global/vendor/waves/waves.js"></script>
    <!-- Plugins -->
    <script src="~/Assets/global/vendor/switchery/switchery.js"></script>
    <script src="~/Assets/global/vendor/intro-js/intro.js"></script>
    <script src="~/Assets/global/vendor/select2/select2.full.min.js"></script>
    <script src="~/Assets/global/vendor/screenfull/screenfull.js"></script>
    <script src="~/Assets/global/vendor/slidepanel/jquery-slidePanel.js"></script>
    <script src="~/Assets/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.js"></script>
    <script src="~/Assets/global/vendor/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="~/Assets/global/vendor/jvectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Assets/global/vendor/matchheight/jquery.matchHeight-min.js"></script>
    <script src="~/Assets/global/vendor/peity/jquery.peity.min.js"></script>

    <!-- Scripts -->
    <script src="~/Assets/global/js/Component.js"></script>
    <script src="~/Assets/global/js/Plugin.js"></script>
    <script src="~/Assets/global/js/Base.js"></script>
    <script src="~/Assets/global/js/Config.js"></script>

    <script src="~/Assets/js/Section/Menubar.js"></script>
    <script src="~/Assets/js/Section/GridMenu.js"></script>
    <script src="~/Assets/js/Section/Sidebar.js"></script>
    <script src="~/Assets/js/Section/PageAside.js"></script>
    <script src="~/Assets/js/Plugin/menu.js"></script>

    <script src="~/Assets/global/js/config/colors.js"></script>
    <script src="~/Assets/js/config/tour.js"></script>
    <script>Config.set('assets', '../assets');</script>

    <!-- Page -->
    <script src="~/Assets/global/js/Plugin/select2.js"></script>
    <script src="~/Assets/js/Site.js"></script>
    <script src="~/Assets/global/js/Plugin/asscrollable.js"></script>
    <script src="~/Assets/global/js/Plugin/slidepanel.js"></script>
    <script src="~/Assets/global/js/Plugin/switchery.js"></script>
    <script src="~/Assets/global/js/Plugin/matchheight.js"></script>
    <script src="~/Assets/global/js/Plugin/peity.js"></script>

    <script src="~/Assets/examples/js/dashboard/v1.js"></script>
    <script type="text/javascript" src="~/Scripts/toastr.min.js"></script>



</body>
</html>

