.title-menu {
    text-align: center;
    color: #a31806;
    font-weight: bolder;
}

.content-pro {
    background-color: #faedd1
}

.product-item {
    margin-bottom: 15%;
}

.item-pro {
    text-align: center;
    display: block;
    padding-bottom: 20px;
}

.item-btn {
    margin-left: 15%;
    margin-right: 15%;
    display: block;
    text-decoration: none;
    background-color: #de7119;
    text-align: center;
    border-radius: 10px;
}

.item-btn:hover {
    background-color: #b35101;
}

.km-item {
    font-weight: 15px;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 3%;
    border-radius: 15px;
    background-color: #ffffff
}

.km-item a {
    color: #de7119;
    font-weight: bold;
}

.km-item a:hover {
    color: #b35101;
}

.km-item p {
    color: blue;
    font-size: x-large;
}