@model DAO.TaiKhoanDAO
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<p>Đăng nhập</p>
<form method="post">
    <div class="form-group clearfix text-danger">
        <i>@ViewBag.error</i>
    </div>
    <div class="form-group form-material floating" data-plugin="formMaterial">
        <input type="text" class="form-control empty" autocomplete="off" value="@Model.TenTaiKhoan" id="txtName" name="username">
        <label class="floating-label" for="inputName">Tài khoản</label>
    </div>
    <div class="form-group form-material floating" data-plugin="formMaterial">
        <input type="password" class="form-control empty" autocomplete="off" value="@Model.MatKhau" id="txtPassword" name="password">
        <label class="floating-label" for="inputPassword">Mật khẩu</label>
    </div>
    <div class="form-group clearfix">
        <div class="checkbox-custom checkbox-inline checkbox-primary float-left">
            <input type="checkbox" id="inputCheckbox" name="remember" @if (!string.IsNullOrEmpty(@Model.MatKhau)) { <text> checked</text> }>
            <label for="inputCheckbox">Remember me</label>
        </div>

    </div>
    <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
</form>
<p>Bạn chưa có tài khoản? Vui lòng <a href="/Auth/Register">đăng kí</a></p>
